<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.ArticleMapper">

    <select id="selectArticle" resultType="com.blog.model.vo.SystemArticleListVO">
        SELECT
        a.*,
        b.NAME AS categoryName,
        group_concat( t.NAME SEPARATOR ',' ) AS tagNames
        FROM
        b_article a
        JOIN b_category b ON a.category_id = b.id
        JOIN b_article_tag atg ON a.id = atg.article_id
        JOIN b_tags t ON atg.tag_id = t.id
        <where>
            <if test="param.userId != null and param.userId != ''">
                a.user_id =#{param.userId}
            </if>
            <if test="param.title != null and param.title != ''">
                a.title like concat('%',#{param.title},'%')
            </if>
            <if test="param.categoryId != null and param.categoryId != ''">
                and a.category_id=#{param.categoryId}
            </if>
            <if test="param.isPublish != null and param.isPublish != ''">
                and a.is_publish=#{param.isPublish}
            </if>
            <if test="param.tagId != null and param.tagId != ''">
                and atg.tag_id=#{param.tagId}
            </if>
        </where>
        GROUP BY a.id order by a.is_stick desc ,a.create_time desc
    </select>
</mapper>